@media only screen and (max-width: 766px) {
  .open-nav {
    max-height: 600px;

    .mobile-toggle {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
    }
  }
}

nav {
  ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
  }
}

@media only screen and (max-width: 766px) {
  nav {
    ul {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }
  }
}

nav {
  ul {
    li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5;
    }
  }
}

@media only screen and (max-width: 766px) {
  nav {
    ul {
      li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
      }
    }
  }

  .mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
}

@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;

    span {
      width: 30px;
      height: 4px;
      margin-bottom: 6px;
      border-radius: 1000px;
      background: $font-white;
      display: block;
    }
  }
}

@media all and (min-width: 320px) and (max-width: 425px) {
.hero .content {
    h1 {
      margin-bottom: 10px;
    }

    h2 {
      margin-bottom: 10px;
    }
  }

  .clientes {
    height: 150vh;
    .clientes-content {
      h2 {
        margin: 0 25px;
        padding: 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero .content {
    padding: 30px;

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.2rem;
    }
  }



  .contact {
    height: 110vh;
    padding: 50px;
    display: flex;
    align-items: center;

    .contacto {
      align-items: center;

      .contact-wrapper .contact-info {
        h4 {
          font-size: 2rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 824px) {
  .hero .content {
    padding: 70px;

    h1 {
      font-size: 2.5rem;
      margin: 5px;
    }

    h2 {
      font-size: 1.2rem;
      margin: 15px;
    }
  }

  .clientes {
    height: 1000%;

    .clientes-content {
      .icons {
        width: 80%;
      }
    }
  }

}

@media only screen and (max-width: 1024px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .section-servicios {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .servicios-img {
    max-width: 300px;
  }

}

@media only screen and (min-width: 1025px) {
  .hero .content {
    padding: 100px;

    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 1.6rem;
    }
  }

  .clientes {
    height: auto;

    .clientes-content .icons {
      width: 25%;
    }
  }

  .section-servicios {
    grid-template-columns: repeat(4, 1fr);
  }

  .contact {
    padding: 100px 60px;

    .contact-wrapper .contact-info h4 {
      font-size: 2.2rem;
    }
  }
}

@media only screen and (min-width: 1441px) {

  .container,
  .content {
    max-width: 1440px;
    margin: 0 auto;
  }

  .hero .content {
    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  .clientes .clientes-content .icons {
    width: 15%;
  }

  .servicios-img {
    max-width: 350px;
  }
}