@media only screen and (max-width: 424px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      width: 80%;

      h1 {
        font-size: 2rem;
        margin-bottom: 15px;
      }

      p {
        font-size: 1rem;
        margin-bottom: 10px;
      }

      button {
        padding: 15px;
        font-size: 1rem;
        cursor: pointer;
        align-self: center;
      }
    }
  }

  .servicios {
    height: auto;
    align-items: flex-start;
    background: rgb(237, 237, 237);
    background: linear-gradient(357deg, rgba(237, 237, 237, 1) 21%, rgba(185, 183, 199, 0.16010154061624648) 100%);

    h2 {
      align-self: center;
      margin-top: 20px;
      font-size: 1.8rem;
    }

    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 100%;
      margin: 0;
      max-width: 100%;

      p {
        margin: 0.6rem 1rem;
        font-size: 1rem;
      }

      .servicios-img {
        display: none;
      }
    }
  }

  .clientes {
    .clientes-content {
      height: auto;

      h2 {
        font-size: 1.8rem;
        padding: 0;
        margin: 40px 0 0;
      }

      .icons img {
        width: 23%;
        margin: 15px;
      }

      h3 {
        font-size: 1.2rem;
        margin: 25px 0 60px;
      }
    }
  }

  .contact {
    height: 130vh;
    justify-content: center;

    .contacto {
      height: auto;
      padding: 20px;
      margin: 2px;

      .contact-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .contact-info {
          width: 100%;
          height: auto;
          padding: 1em;

          h4 {
            font-size: 1.9rem;
            margin-bottom: 10px;
          }
        }

        .contact-form {
          width: 100%;
          padding: 1em;

          form {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .field {
              width: 100%;
            }

            #button {
              padding: 15px;
              font-size: 0.8rem;
              align-self: center;
              width: 80%;
            }
          }
        }
      }
    }
  }

  footer {
    height: auto;

    .footer-content {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;

      .social-media {
        margin: 10px;
      }

      .contact-info {
        margin: 30px;
      }
    }
  }
}

@media all and (min-width: 425px) and (max-width: 768px) {
  .logo {
    margin-left: 15px;
  }

  .hero {
    height: 100vh;

    .content {
      text-align: left;
      width: 80%;

      h1 {
        font-size: 3rem;
        margin-bottom: 15px;
      }
    }
  }

  .servicios {
    height: auto;
    align-items: flex-start;
    background: rgb(237, 237, 237);
    background: linear-gradient(357deg, rgba(237, 237, 237, 1) 21%, rgba(185, 183, 199, 0.16010154061624648) 100%);

    h2 {
      align-self: center;
      margin-top: 20px;
      font-size: 2rem;
    }

    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 100%;
      margin: 10px 0 30px;
      max-width: 100%;
      .section-servicios {
      .gridItem {
        .servicios-ico {
          width: 15%;
        }
      }
    }
      p {
        margin: 0.6rem 1rem;
        font-size: 1rem;
      }

      .servicios-img {
        display: none;
      }
    }
  }

  .clientes {
    .clientes-content {
      height: auto;

      h2 {
        font-size: 1.8rem;
        padding: 0;
        margin: 40px 0 0;
      }

      .icons img {
        width: 23%;
        margin: 15px;
      }

      h3 {
        font-size: 1.2rem;
        margin: 25px 0 60px;
      }
    }
  }

  .contact {
    height: 130vh;
    justify-content: center;

    .contacto {
      height: auto;
      padding: 20px;
      margin: 2px;

      .contact-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .contact-info {
          width: 100%;
          height: auto;
          padding: 1em;

          h4 {
            font-size: 1.9rem;
            margin-bottom: 10px;
          }
        }

        .contact-form {
          width: 100%;
          padding: 1em;

          form {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .field {
              width: 100%;
            }

            #button {
              padding: 15px;
              font-size: 0.8rem;
              align-self: center;
              width: 70%;
            }
          }
        }
      }
    }
  }

  footer {
    height: auto;

    .footer-content {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      .social-media {
        margin-bottom: 25px;
      }

      .contact-info {
        margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (max-width: 766px) {
  .open-nav {
    max-height: 600px;

    .mobile-toggle {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
    }
  }
}

nav {
  ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
  }
}

@media only screen and (max-width: 766px) {
  nav {
    ul {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }
  }
}

nav {
  ul {
    li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5;
    }
  }
}

@media only screen and (max-width: 766px) {
  nav {
    ul {
      li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
      }
    }
  }

  .mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
}

@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;

    span {
      width: 30px;
      height: 4px;
      margin-bottom: 6px;
      border-radius: 1000px;
      background: $font-white;
      display: block;
    }
  }
}

@media all and (min-width: 769px) and (max-width: 970px) {
  .servicios {
    height: auto;
    align-items: flex-start;
    background: rgb(237, 237, 237);
    background: linear-gradient(357deg, rgba(237, 237, 237, 1) 21%, rgba(185, 183, 199, 0.16010154061624648) 100%);

    h2 {
      align-self: center;
      margin-top: 20px;
      font-size: 1.8rem;
    }

    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 100%;
      margin: 0;
      max-width: 100%;

      .section-servicios {


        .gridItem {
          .servicios-ico {
            width: 15%;
          }
        }
      }

      p {
        margin: 0.6rem 1rem;
        font-size: 1rem;
      }

      .servicios-img {
        margin: 40px 0;
      }
    }
  }

  .contact {
    height: 130vh;
    justify-content: center;

    .contacto {
      height: auto;
      padding: 20px;
      margin: 2px;

      .contact-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .contact-info {
          width: 100%;
          height: auto;
          padding: 1em;

          h4 {
            font-size: 1.9rem;
            margin-bottom: 10px;
          }
        }

        .contact-form {
          width: 100%;
          padding: 1em;

          form {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .field {
              width: 100%;
            }

            #button {
              padding: 15px;
              font-size: 0.8rem;
              align-self: center;
              width: 70%;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 971px) and (max-width: 1440px) {
  .servicios {
    height: auto;
    align-items: flex-start;
    background: rgb(237, 237, 237);
    background: linear-gradient(357deg, rgba(237, 237, 237, 1) 21%, rgba(185, 183, 199, 0.16010154061624648) 100%);

    h2 {
      align-self: center;
      margin-top: 20px;
      font-size: 1.8rem;
    }

    .row {
      height: auto;
      width: 100%;
      margin: 30px auto;

      .section-servicios {
        .gridItem {
          .servicios-ico {
            width: 15% !important;
          }
        }
      }

      p {
        margin: 0.6rem 1rem;
        font-size: 1rem;
      }

      .servicios-img {
        margin: 0px 20px !important;
      }
    }
  }
}