@media only screen and (max-width: 766px) {
  .open-nav {
    max-height: 600px;

    .mobile-toggle {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
    }
  }
}

nav {
  ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
  }
}

@media only screen and (max-width: 766px) {
  nav {
    ul {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }
  }
}

nav {
  ul {
    li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5;
    }
  }
}

@media only screen and (max-width: 766px) {
  nav {
    ul {
      li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
      }
    }
  }

  .mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
}

@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;

    span {
      width: 30px;
      height: 4px;
      margin-bottom: 6px;
      border-radius: 1000px;
      background: $font-white;
      display: block;
    }
  }
}

@media all and (min-width: 320px) and (max-width: 425px) {
.hero .content {
    h1 {
      margin-bottom: 10px;
    }

    h2 {
      margin-bottom: 10px;
    }
  }

  .clientes {
    height: max-content;
    padding: 0;
    .clientes-content {
      h2 {
        font-size: 1.8rem;
        margin: 0 25px;
        padding: 0;
      }
      h3 {
        margin: 45px 25px;
        padding: 0;
      }
      p {
        margin: 15px;
        padding: 0;
      }
    }
  }
  .contact {
    height: max-content;
    display: flex;
    align-items: center;
    h2{
      margin-bottom: 25px;
    }

    .contacto {
      align-items: center;

      .contact-wrapper .contact-info {
        h4 {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media all and (min-width: 426px) and (max-width: 767px) {
  .hero .content {
    padding: 30px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 1.4rem;
      margin-bottom: 15px;
    }
  }

  .clientes {
    height: max-content;

    .clientes-content {
      align-items: center;
    }
  }

  .contact {
    height: max-content;
    padding: 30px;
    display: flex;
    align-items: center;

    .contact-container{
      align-items: center;
      flex-direction: column;

    }
    .description{
      margin: 0;
      padding: 0;
      }

      .contacto {
        width: max-content;
      }

      .contact-form {
        width: 100%;
      }
    

      .contact-wrapper .contact-info {
        width: 100%;
        h4 {
          font-size: 2rem;
        }
      }
    }
  }


@media all and (min-width: 768px) and (max-width: 1023px) {
  .hero .content {
    padding: 70px;

    h1 {
      font-size: 2.5rem;
      margin: 5px;
    }

    h2 {
      font-size: 1.2rem;
      margin: 15px;
    }
  }

  .clientes {
    height: max-content;

    .clientes-content {
      align-items: center;
      .icons {
        width: 80%;
      }
    }
  }
  .contact {
    height: max-content;
    .contact-conteiner {
      align-items: center;
    }

    .contact-wrapper .contact-info h4 {
      font-size: 2rem;
    }
  }
}

@media all and (min-width: 1025px) and (max-width: 1440px){

}  .hero .content {
    padding: 100px;

    h1 {
      font-size: 3rem;
      margin: 10px;
    }

    h2 {
      font-size: 1.5rem;
      margin: 20px;
    }
  }

  .clientes {
    height: max-content;
    align-items: center;

    .clientes-content {
      .icons {
        width: 70%;
      }
    }
  }