@media only screen and (max-width: 766px) {
  .open-nav {
    max-height: 600px;

    .mobile-toggle {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
    }
  }
}

nav {
  ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
  }
}

@media only screen and (max-width: 766px) {
  nav {
    ul {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }
  }
}

nav {
  ul {
    li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5;
    }
  }
}

@media only screen and (max-width: 766px) {
  nav {
    ul {
      li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
      }
    }
  }

  .mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
}

@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;

    span {
      width: 30px;
      height: 4px;
      margin-bottom: 6px;
      border-radius: 1000px;
      background: $font-white;
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .hero-content {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 1024px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .section-servicios {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .servicios-img {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .clientes-content {
    height: auto;
    padding: 10px;
  }

  h2 {
    font-size: 1.2rem;
    padding: 20px 0;
  }

  .icons {
    img {
      width: 30%;
      margin: 10px;
    }
  }

  h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .clientes-content {
    padding: 15px;
  }

  h2 {
    font-size: 1.4rem;
    padding: 25px 0;
  }

  .icons {
    img {
      width: 20%;
      margin: 20px;
    }
  }

  h3 {
    font-size: 1.3rem;
  }
}

@media (max-width: 1024px) {
  .clientes-content {
    padding: 20px;
  }

  h2 {
    font-size: 1.6rem;
  }

  .icons {
    img {
      width: 18%;
      margin: 20px;
    }
  }

  h3 {
    font-size: 1.4rem;
  }
}
