//color de letra
$font-white: #FAFBFB;
$font-dark: #4b5563;

//detalles
$bg-bdy: #ececec;
$bg-selection: #90aae7;
$bg-dark: #1f2937;
$dt-color1: #edc720;
$dt-color2: #1b00dd;
$dt-color3: #5730d6;
$shadow-color: #000;

//Estilo de seccion
%row {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
  &.content {
    padding: 50px 2% 250px;
  }
}

//Estilo de titulos
%titulos {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
  display: inline-block;
  border-bottom: 1.5px solid;
  padding-bottom: 5px;
}